<ion-view view-title="Ionic + Firebase chat" class="bar-stable">
    <ion-content scroll="false" padding="true">
        <form ng-submit="startChat()">
            <div class="list list-inset">
                <label class="item item-input">
                    <input type="text" placeholder="Voer je naam in" ng-model="data.userName">
                </label>
            </div>
            <button class="button button-block button-positive">
               Go chat!
            </button>
        </form>
    </ion-content>
</ion-view>
